@tailwind base;
@tailwind components;
@tailwind utilities;

::selection {
  background: theme(colors.dark);
  color: theme(colors.lightest);
}

:root {
  color-scheme: dark;
}

html {
  background: theme(colors.darkest);
  background-image: radial-gradient(circle at 1px 1px, rgba(70, 79, 35, 0.3) 1px, transparent 0), radial-gradient(circle at 100px 350px, theme(colors.darker) 0%, theme(colors.darkest) 40%);
  background-size: 30px 30px, 100%;
  background-position: -19px -19px, 0;
  background-attachment: fixed;
}

/* rgb(21, 23, 14); */